.cabecalho{
    background-color: #2D5377;
    
    color: white;
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;

    text-transform: uppercase;
    letter-spacing: .23em;
}

.cabecalho__logo{
    padding: 1.5em 0;
    width: 14.5em;
}

.cabecalho__menu{
    background-color: #272B3A87;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.cabecalho__menu__item a{ 
    padding: 1.86em 1.42em;
    display: inline-block;
}

@media(min-width: 640px){
    .cabecalho{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho__menu{
        background-color: inherit;
        padding: 0;
    }
}

@media(min-width: 770px){
    .cabecalho__menu__item--matricular{
        border-radius: 6px;
        margin-left: 1.42em;
        background-color: #e93d50;
    }

    .cabecalho__menu__item--matricular a{
        padding: 1.8em 3.5em;
    }
}

@media (min-width: 1066px){
    .cabecalho{
        padding: 0 calc((100% - 960px)/2);
    }
}