/* grid-track é o espaço entre duas linhas em um grid */

.grid-container{
    width: 700px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 8px;
    
    grid-template-areas: 
        " . . destaqueverde"
        " . . destaqueverde"
        "destaqueazul destaqueazul destaqueazul"
        
    ;

}

.foto{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #555454aa;
    background-color: #e68495;
    /* grid-area: foto; */
}

.foto-destaque-verde{
    background-color: #82cf86;
    height: 400px;
    grid-area: destaqueverde;
    /* grid-row: span 2; */
}

.foto-destaque-azul{
    background-color: #82b0cf;
    width: 100%;
    height: 100px;
    grid-area: destaqueazul;
    /* grid-column: span 3; */
}